/* General styles */

:root {
    --bg-color-1: #05080f;
    --bg-color-2: #ffffff;
    --bg-color-3: #05080fa2;
    --bg-color-4: #060a14;
    --txt-color-1: #ffffff;
    --txt-color-2: #919191;
    --accent-color-1: #225fe1;
    --accent-color-2: #0049b8;
    --accent-color-3: #072055;
    --accent-color-4: #060a12;
    --accent-color-5: #225ee12c;
    --accent-color-6: #111434;
    --accent-color-7: #151b63;
    --accent-color-8: #0a1734;
    --accent-color-9: #3b3b3b5b;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--txt-color-1);
    font-family: Montserrat;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Remove justify-content and align-items here */
    background-color: var(--bg-color-1);
}

::selection {
    background: var(--accent-color-3);
}

b {
    color: var(--accent-color-1);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    z-index: 3;
    flex: 1 0 auto;
}

header {
    position: fixed;
    top: 0;
    z-index: 5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 0px 175px;
    backdrop-filter: blur(10px);
}

header a, .sidebar a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3px;
    text-decoration: none;
}

header svg, .sidebar svg {
    cursor: pointer;
}

.logo-dot {
    color: var(--accent-color-1);
}

.header-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: ease-in-out 0.1s;
    padding-right: 10%;
}

.header-links a {
    position: relative;
    transition: ease-in-out 0.1s;
}

.hover-effects svg {
    stroke: var(--accent-color-1);
}

.header-links a::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: var(--accent-color-1);
    transition: all .5s;
}

.header-links a:hover::before {
    width: 100%;
}

.active h3 {
    color: var(--accent-color-1);
}

.hover-effects {
    transition: ease-in-out 0.1s;
}

.hover-effects:hover * {
    color: var(--accent-color-2);
    transition: ease-in-out 0.1s;
    transform: translateY(-2px);
}

.header-selectors {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer {
    z-index: 5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    backdrop-filter: blur(10px);
    flex-shrink: 0;
    padding: 20px 175px;
    animation: startup 0.5s ease-out 0.2s both;
}

.footer-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    width: 100%;
    gap: 10px;
}

.footer-left-block {
    align-items: flex-start;
}

.footer-left-block h4 {
    color: var(--txt-color-2);
}

.footer-right-block {
    flex-direction: row;
    gap: 30px;
    text-align: center;
}

.footer-contact-button {
    background-color: transparent;
    border: 0px;
    padding: 13px 20px;
    border-radius: 10px;
    border: var(--accent-color-1) 1px solid;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    font-size: large;
    box-shadow: 0px 0px 20px 10px var(--accent-color-5);
    transition: ease-in-out 0.1s;
}

.footer-contact-button:hover {
    transition: ease-in-out 0.1s;
    background-color: var(--accent-color-6);
    box-shadow: 0px 0px 30px 10px var(--accent-color-5);
    transform: translateY(-2px) scale(1.02);
}

/* Scroll indicator */

#scroll-indicator {
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    z-index: 10;
    stroke: var(--accent-color-1);
    fill: none;
    cursor: default;
    animation: startup 0.5s ease-out 0.2s both, scroll-bounce 1.5s infinite;
}

#glow-wrapper {
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
    pointer-events: none;
}

.glow {
    height: 2100px;
    width: 2100px;
    position: absolute;
    z-index: -1;
    overflow: hidden;
    user-select: none;
}

.glow-01 {
    background-image: radial-gradient(closest-side, rgba(0, 33, 65, 0.75), rgba(0, 0, 0, 0));
    top: -550px;
    left: -50%;
}

.glow-02 {
    background-image: radial-gradient(closest-side, rgba(53, 0, 122, 0.377), rgba(0, 0, 0, 0));
    top: -60px;
    right: -60%;
}

.glow-03 {
    background-image: radial-gradient(closest-side, rgba(7, 0, 73, 0.75), rgba(0, 0, 0, 0));
    top: -1150px;
    right: -35%;
}

#content-sector-1 {
    width: 100%;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    background-color: var(--bg-color-1);
    box-shadow: var(--bg-color-1) 0px 0px 120px 120px;
    margin: 0px 20px;
    padding: 10vh 175px;
    height: 90vh;
    animation: startup 0.5s ease-out 0.2s both;
}

#content-sector-2 {
    width: 100%;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    margin: 0px 20px;
    padding: 10vh 175px;
    height: 115vh;
    animation: startup 0.5s ease-out 0.2s both;
}

#content-sector-3 {
    width: 100%;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    background-color: var(--bg-color-1);
    box-shadow: var(--bg-color-1) 0px 0px 120px 120px;
    margin: 0px 20px;
    padding: 0 175px;
    height: 90vh;
    animation: startup 0.5s ease-out 0.2s both;

}

/* ////////// HOME PAGE ///////// */

.welcome-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
    font-size: 30px;
    text-align: center;
    animation: startup 0.5s ease-out 0.2s both;
    height: 100vh;
}

.welcome-card p {
    margin-top: 17px;
    font-size: 22px;
    padding-left: 4px;
}

.welcome-card-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#head-location, #head-location h5{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: var(--txt-color-2);
}

.welcome-card-head h1, .welcome-card-head h2, .welcome-card-head h3, .welcome-card-head h4, .welcome-card-head h5, .welcome-card-head h6, #head-location, #head-location h5 {
    line-height: 1.01;
}

.welcome-card button {
    background-color: transparent;
    border: 0px;
    margin-top: 20px;
    padding: 13px 40px;
    border-radius: 10px;
    border: var(--accent-color-1) 1px solid;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
    transition: ease-in-out 0.1s;
    box-shadow: 0px 0px 30px 10px var(--accent-color-5);
}

.welcome-card button:hover {
    transition: ease-in-out 0.1s;
    background-color: var(--accent-color-6);
    box-shadow: 0px 0px 40px 20px var(--accent-color-5);
    transform: translateY(-2px) scale(1.02);
}

#socials-text {
    color: var(--txt-color-2);
    font-size: 15px;
}

.welcome-card-socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    transition: ease-in-out 0.1s;
    animation: startup 0.5s ease-out 0.2s both;
}

.welcome-card-socials svg {
    transition: ease-in-out 0.1s;
    fill: var(--accent-color-1);
}

.welcome-card-socials svg:hover {
    transition: ease-in-out 0.1s;
    transform: translateY(-2px) scale(1.02);
    fill: var(--accent-color-2);
}

.home-skills-bg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.home-skills-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.home-skills-wrapper h1 {
    font-size: 55px;
}

.home-skills-wrapper h2 {
    font-size: 30px;
}

.home-skills-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    background-color: var(--accent-color-8);
    border: var(--accent-color-1) 1px solid;
    border-radius: 15px;
    transition: ease-in-out 0.1s;
    box-shadow: 0px 0px 40px 5px var(--accent-color-5);
}

.home-skills-row:hover {
    transition: ease-in-out 0.1s;
    transform: translateY(-1px) scale(1.01);
}

.row-01 {
    margin-top: 20px;
}

.row-02 {
    margin-top: 50px;
}

.row-03 {
    margin-top: 50px;
}

.skills-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0px 10px 0px 30px;
    gap: 20px;
}

.home-skill-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    padding: 10px;
    border: var(--accent-color-1) 1px solid;
    border-radius: 7px;
    transition: ease-in-out 0.1s;
    box-shadow: 0px 0px 5px 0.5px var(--accent-color-1);
}

.home-skill-block:hover {
    transition: ease-in-out 0.1s;
    transform: translateY(-2px) scale(1.02);
}

.vertical-line {
    width: 1px;
    height: 80px;
    background-color: var(--accent-color-1);
    box-shadow: 0px 0px 5px 0.5px var(--accent-color-1);
}

.line-frontend {
    margin-left: 23px ;
}

.line-backend {
    margin-left: 29px ;
}

.line-database {
    margin-left: 20px ;
}

.home-experience-bg {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 120px 0px;
}

.home-experience-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.home-experience-wrapper h1 {
    font-size: 55px;
    text-align: right;
    display: flex;
}

.home-experience-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 10px 10px 20px;
    max-width: 700px;
    width: 100%;
    background-color: var(--accent-color-8);
    border: var(--accent-color-1) 1px solid;
    border-radius: 15px;
    transition: ease-in-out 0.1s;
    box-shadow: 0px 0px 40px 5px var(--accent-color-5);
}

.home-experience-row:hover {
    transition: ease-in-out 0.1s;
    transform: translateY(-1px) scale(1.01);
}

.home-experience-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 10px;
    flex-wrap: wrap;
}

#home-freelance-title-padding {
    padding-right: 94px;
}

#home-classic-title-padding {
    padding-right: 20px;
}

.home-experience-date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
}

.home-experience-subtitle {
    padding-bottom: 10px;
}

.home-experience-subtitle h4 {
    padding-left: 3px;
    color: var(--txt-color-2);
}

.home-experience-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    padding-left: 3px;
    flex-wrap: wrap;
}

.home-experience-description p {
    padding-bottom: 10px;
}

.see-more-button {
    background-color: var(--accent-color-8);
    border: none;
    cursor: pointer;
    border-radius: 7px;
    width: 40px;
    transition: ease-in-out 0.1s;
    height: 40px;
}

.see-more-button:hover {
    transition: ease-in-out 0.1s;
    background-color: var(--accent-color-5);
    transform: translateY(-2px) scale(1.02);
}

.more-experiences-button {
    background-color: transparent;
    border: 0px;
    margin-top: 50px;
    padding: 13px 40px;
    border-radius: 10px;
    border: var(--accent-color-1) 1px solid;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    font-size: large;
    transition: ease-in-out 0.1s;
    box-shadow: 0px 0px 20px 10px var(--accent-color-5);
}

.more-experiences-button:hover {
    transition: ease-in-out 0.1s;
    background-color: var(--accent-color-6);
    box-shadow: 0px 0px 30px 10px var(--accent-color-5);
    transform: translateY(-2px) scale(1.02);
}

.home-experience-title h2, .home-experience-subtitle h4 {
    line-height: 1.01;
}

.home-projects-bg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 120px 0px;
}

.home-projects-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0px 20px 0px 20px;
    gap: 35px;
}

.home-projects-wrapper h1 {
    font-size: 55px;
}

.home-experience-wrapper h2 {
    font-size: 30px;
}

.home-projects-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 80px;
}

.home-project-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 300px;
    background-color: var(--accent-color-8);
    border: var(--accent-color-1) 1px solid;
    border-radius: 15px;
    box-shadow: 0px 0px 40px 5px var(--accent-color-5);
    transition: ease-in-out 0.2s;
    overflow: hidden;
}

.home-project-block:hover {
    transition: ease-in-out 0.2s;
    transform: translateY(-1px) scale(1.01);
}

.home-project-block-img-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 165px;
    overflow: hidden;
}

.home-project-block-img img {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transition: ease-in-out 0.3s;
    transform: scale(1.01);

}

.home-project-block-img-container:hover .home-project-block-img img {
    transition: ease-in-out 0.3s;
    transform: scale(1.3);
    filter: blur(5px) brightness(0.7);
}

.projects-github-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.7);
    opacity: 0;
    z-index: 2;
    cursor: pointer;
    pointer-events: none;
    transition: opacity 0.4s ease, transform 0.4s cubic-bezier(0.4,0,0.2,1);
}

.home-project-block-img-container:hover .projects-github-logo {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1) translateY(-10px);
    pointer-events: auto;
}

.home-project-block-img-container a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 5px;
}

.home-project-block-img-container a:hover {
    color: #0049b8;
}

.projects-github-logo svg {
    width: 47px;
    height: 37px;
    fill: var(--txt-color-1);
    transition: ease-in-out 0.3s;
}

.home-project-block-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 15px 0 0 15px;
}

.home-project-block-title h3 {
    color: var(--txt-color-2);
}

.home-project-block-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 8px 15px 0 15px;
}

.home-project-block-tags-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 15px;
    gap: 10px;
}

.home-project-block-tag {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 7px;
    background-color: var(--accent-color-5);
    font-weight: bold;
    cursor: default;
}

/* ////////// ABOUT PAGE ////////// */

.about-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    text-align: center;
    animation: startup 0.5s ease-out 0.2s both;
    height: 100vh;
    width: 100%;
}

.about-about h1 {
    font-size: 55px;
}

.about-about p {
    font-size: 22px;
}

.about-experiences-bg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.about-experiences-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 35px;
}

.about-experiences-wrapper h1 {
    font-size: 55px;
}

.about-experiences-wrapper h2 {
    font-size: 30px;
}

.experience-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 10px 10px 20px;
    max-width: 1000px;
    width: 100%;
    background-color: var(--accent-color-8);
    border: var(--accent-color-1) 1px solid;
    border-radius: 15px;
    transition: ease-in-out 0.1s;
    box-shadow: 0px 0px 40px 5px var(--accent-color-5);
    font-size: larger;
}

.experience-row:hover {
    transition: ease-in-out 0.1s;
    transform: translateY(-1px) scale(1.01);
}

.experience-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 10px;
    flex-wrap: wrap;
}

.experience-date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
}

.experience-subtitle {
    padding-bottom: 10px;
}

.experience-subtitle h4 {
    padding-left: 3px;
    color: var(--txt-color-2);
}

.experience-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    padding-left: 3px;
    flex-wrap: wrap;
}

.experience-description p {
    padding-bottom: 10px;
}

.experience-tools-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 10px 10px 0px;
    padding: 10px;
    border: var(--accent-color-1) 1px solid;
    border-radius: 12px;
    background-color: var(--accent-color-5);

}

.experience-tools-wrapper svg {
    width: 40px;
    height: 40px;
    fill: #fff;
}

/* ////////// Skills Page ////////// */

.skills-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 20px 0 20px;
    min-height: 100vh;
    width: 100%;
    animation: startup 0.5s ease-out 0.2s both;
}

.skills-wrapper h1 {
    font-size: 55px;
}

.skills-skills-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
}

.skills-skills-container h2 {
    font-size: 30px;
}

.skills-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.skill-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    background-color: var(--accent-color-8  );
    border: var(--accent-color-1) 1px solid;
    border-radius: 15px;
    padding: 15px;
    transition: ease-in-out 0.2s;
    box-shadow: 0px 0px 40px 5px var(--accent-color-5);
    animation: startup 0.5s ease-out 0.2s both;
}

.skill-item svg {
    width: 100px;
    height: 100px;
}

.skill-item:hover {
    transition: transform ease-in-out 0.2s;
    transform: translateY(-1px) scale(1.01);
}

/* ////////// Contact Page ////////// */

.contact-sector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    animation: startup 0.5s ease-out 0.2s both;
}

.contact-sector h1 {
    font-size: 55px;
    margin-bottom: 20px;
}

.contact-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
    margin: 0px 20px 0px 20px;
}

.contact-container a {
    text-decoration: none;
}

.contact-block {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 100%;
    min-width: 300px;
    max-width: 350px;
    background-color: var(--accent-color-8);
    border: var(--accent-color-1) 1px solid;
    border-radius: 15px;
    box-shadow: 0px 0px 40px 5px var(--accent-color-5);
    transition: ease-in-out 0.2s;
    animation: startup 0.5s ease-out 0.2s both;
}

.contact-block:hover {
    transition: ease-in-out 0.2s;
    transform: translateY(-1px) scale(1.01);
    box-shadow: 0px 0px 40px 20px var(--accent-color-5);
}

.contact-block svg {
    background-color: var(--accent-color-7);
    padding: 10px;
    border-radius: 10px;
    width: 50px;
    height: 50px;
}

.contact-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.contact-text p {
    color: var(--txt-color-2);
}

/* Animation keyframes */

@keyframes scroll-bounce {
    0%, 100% {
        transform: translateX(-50%) translateY(0);
    }
    50% {
        transform: translateX(-50%) translateY(5px);
    }
}

@keyframes startup {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Media queries */

@media (max-width: 1600px) {
    .glow {
        height: 1600px;
        width: 1600px;
    }
}

@media (max-width: 1430px) {
    header, footer,#content-sector-1, #content-sector-2, #content-sector-3 {
        padding: 0px 20px;
    }
}

@media (max-width: 1275px) {
    .glow {
        height: 1400px;
        width: 1400px;
    }

    .home-projects-container {
        gap: 20px;
    }
}

@media (max-width: 1100px) {
    footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 25px 20px;
        gap: 20px;
        text-align: center;
    }

    .footer-left-block {
        align-items: center;
    }

    .home-projects-container {
        justify-content: center;
        flex-wrap: wrap;
    }

    .home-experience-wrapper {
        justify-content: center;
        align-items: flex-end;
    }

    .home-experience-wrapper h1 {
        text-align: center;
    }
}

@media (max-width: 975px) {
    .glow {
        height: 1100px;
        width: 1100px;
    }

    .welcome-card {
        font-size: 20px;
    }

    header, main {
        padding: 0px 10px;
    }

    .header-links, .header-selectors {
        display: none;
    }

    .sidebar-open {
        display: block;
    }

    .sidebar {
        display: flex;
    }
    
    .sidebar-links {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        padding: 15px;
        width: 240px;
        height: 100%;
        gap: 20px;
        background-color: var(--bg-color-3);
        backdrop-filter: blur(10px);
        box-shadow: -5px 0 5px var(--bg-color-3);
        transition: 0.3s ease-in-out
    }

    .sidebar-links a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 45px;
        gap: 7px;
    }

    .active h1 {
    color: var(--accent-color-1);
    }

    #sidebar-toggle:checked ~ .sidebar-links {
        right: 0;
    }

    #sidebar-toggle:checked ~ #sidebar-overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
        transition: 1s ease-in-out;
        backdrop-filter: blur(2px);
        user-select: none;
    }

    .about-about {
        align-items: flex-start;
        text-align: start;
    }
}

@media (max-width: 760px) {
    .contact-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .contact-block {
        font-size: small;
    }
}

@media (max-width: 680px) {
    .portfolio-block {
        display: none;
    }

    #content-sector-1 {
        min-height: 120vh;
        margin: 30px 5px;
    }

    #content-sector-2 {
        min-height: 170vh;
        margin: 30px 5px;
        justify-content: center;
    }

    #content-sector-3 {
        min-height: 150vh;
        margin: 30px 5px;
    }

    #content-sector-1,
    #content-sector-2,
    #content-sector-3,
    .home-projects-bg {
        overflow: visible;
    }


}

@media (max-width: 590px) {

    .home-skills-row {
        flex-direction: column;
    }

    .home-skills-row {
        width: 100%;
        max-width: 300px;
    }

    .home-skills-bg {
        justify-content: center;
    }

    .vertical-line {
        width: 100%;
        height: 1px;
        margin: 10px 0px;
    }

    .skills-container {
        margin: 10px 0px 0px 0px;
    }

    .home-experience-wrapper, .home-skills-wrapper {
        align-items: center;
    }

    .home-experience-row {
         max-width: 300px;
    }
}

@media (max-width: 400px) {
    .home-experience-wrapper h1, .home-skills-wrapper h1, .about-experiences-wrapper h1, .contact-sector h1 {
        font-size: 45px;
    }

    .skill-item {
        width: 90px;
        height: 90px;
    }

    .skill-item h3 {
        font-size: small;
    }
}